<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This sample App is being developed by Chris Mark. 
</p>
<p>
  Chris Mark is a software engineer at CSLab NTUA and an opensource programmer for SuperJ with co-founder Ilias Tsoumas.
</p>