<div class="center jumbotron">
  <h1>Welcome to the MyTrails App</h1>

  <h2>
    Welcome to MyTrails App. Share your trails information as well as your experiences with other users.</br>
    Follow experienced adventurers and be updated about new trails.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

Powered by <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>